{% extends 'base.html.twig' %}



{% block body %}

 <h1>Listado de paises</h1>

	<ul>
	    {% for pais in listapaises %}
	        <li>{{ pais.nombre }} - {{ pais.continente }} - {{ pais.presidente.nombre }} </li>
	    {% endfor %}
	</ul>
	<a href=" {{ path('pais_nuevo')}}">Añadir pais</a>

{% endblock %}
