{% extends 'base.html.twig' %}

{% block title %}New Monumento{% endblock %}

{% block body %}
    <h1>Create new Monumento</h1>

    {{ include('monumento/_form.html.twig') }}

    <a href="{{ path('monumento_index') }}">back to list</a>
{% endblock %}